@media (max-width: 1365px) {
	.sidepanel {
		display: none;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.about {
		&__wrapper {
			grid-template-columns: 350px 540px;
			column-gap: 40px;
		}
		&__skills {
			column-gap: 20px;
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 60px 20px 0 20px;
			column-gap: 70px;
		}
	}
	.skills {
		&__items {
			margin-top: 20px;
			grid-template: repeat(3, minmax(270px, auto)) / repeat(auto-fit, 270px);
			gap: 15px 30px;
			justify-content: center;
		}
		&__ratings {
			grid-template-columns: repeat(auto-fit, 350px);
			grid-auto-rows: minmax(70px, auto);
			justify-content: space-between;
			padding: 0 50px;
		}
	}
	.portfolio {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: space-evenly;
			gap: 10px 0;
			.horizonal, .vertical {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.contacts {
		&__wrapper {
			padding: 0;
			grid-template-columns: 350px 570px;
			column-gap: 40px;
		}
		&__form {
			grid-template-columns: repeat(2, 270px);
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.title {
		&_fz48 {
			font-size: 40px;
		}
		&_fz36 {
			font-size: 30px;
		}
		&__section {
			&-subtitle {
				line-height: 51px;
			}
		}
	}
	.promo {
		&__title {
			line-height: 50px;
		}
	}
	.about {
		padding-top: 60px;
		&__wrapper {
			grid-template-columns: 320px 370px;
			column-gap: 30px;
			row-gap: 20px;
		}
		&__subtitle {
			line-height: 50px;
		}
		&__skills {
			grid-template: minmax(100px, auto) / 370px;
			grid-template-columns: 370px;
			row-gap: 10px;
			&-item {
				grid-template: minmax(100px, auto) / 40px 310px;
				column-gap: 20px;
			}
		}
	}
	.resume {
		padding-top: 60px;
		.divider {
			margin-top: 15px;
		}
		&__wrapper {
			padding-top: 20px;
			grid-template-columns: 650px;
			row-gap: 40px;
		}
		h3 {
			margin-bottom: 35px;
		}
		ul {
			li {
				&:after {
					height: calc(100% + 43px);
					top: -43px;
				}
			}
		}
		&__item {
			&:before {
				top: 29px;
			}
			&-head {
				padding-top: 10px;
			}
			&-icon {
				top: 24px;
			}
		}
	}
	.skills {
		&__ratings {
			margin-top: 60px;
			grid-template-columns: repeat(auto-fit, 320px);
			padding: 0;
			&-line {
				width: 100%;
			}
		}
	}
	.price {
		&__wrapper {
			padding: 0;
			grid-template-columns: repeat(auto-fit, 340px);
		}
	}
	.contacts { 
		margin-top: 60px;
		&__wrapper {
			padding: 0;
			grid-template-columns: 320px 370px;
			column-gap: 30px;
		}
		&__form {
			grid-template: 45px 45px 190px / 1fr;
		}
		&__textarea {
			grid-column: unset;
		}
		&__triggers {
			grid-column: unset;
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
		&__btn {
			order: 2;
			max-width: 220px;
			margin: 0 auto;
		}
		&__policy {
			margin: 0 auto;
			line-height: 18px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.title {
		&_fz48 {
			font-size: 28px;
		}
	}
	.promo {
		&__title {
			width: 300px;
			line-height: 39px;
		}
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template: 400px auto auto / 1fr;
			row-gap: 20px;
		}
		&__photo {
			grid-row: unset;
		}
		&__skills {
			grid-template-columns: repeat(2, 260px);
			row-gap: 20px;
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}
	.resume {
		padding-top: 40px;
		&__wrapper {
			grid-template-columns: 500px;
		}
	}
	.skills {
		&__ratings {
			margin-top: 40px;
			grid-template-columns: repeat(auto-fit, 350px);
			justify-content: center;
		}
	}
	.portfolio {
		padding-top: 46px;
		&__wrapper {
			margin-top: 40px;
		}
	}
	.price {
		&__wrapper {
			margin-top: 20px;
			grid-template-columns: 430px;
			justify-content: center;
		}
	}
	.contacts {
		margin-top: 40px;
		&__photo {
			display: none;
		}
		&__wrapper {
			grid-template-columns: 1fr;
		}
		&__form {
			grid-template: 45px 190px 45px / repeat(2, 257px);
		}
		&__textarea {
			grid-column: 1 / 3;
		}
		&__triggers {
			grid-column: 1 / 3;
			grid-template-columns: repeat(2, auto);
			column-gap: 29px;
		}
		&__btn {
			order: 0;
		}
		&__policy {
			width: 100%;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz48 {
			font-size: 26px;
		}
		&_fz36 {
			font-size: 24px;
		}
	}
	.hamburger {
		right: 20px;
	}
	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
	}
	.promo {
		background: url('../img/main_bg.jpg') no-repeat 57%/cover;
		&__btns {
			margin-top: 30px;
		}
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template: 340px auto auto / 1fr;
		}
		&__skills {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			&-item {
				grid-template-columns: 40px auto;
				grid-template-rows: auto;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 40px 3px 0 5px;
			grid-template-columns: auto;
		}
	}
	.skills {
		&__ratings {
			grid-template-columns: repeat(auto-fit, 296px);
		}
	}
	.price {
		&__wrapper {
			grid-template-columns: 300px;
		}
	}
	.contacts {
		margin-bottom: 50px;
		&__form {
			grid-template: 45px 45px 140px / 1fr;
		}
		&__textarea {
			grid-column: unset;
		}
		&__triggers {
			grid-column: unset;
			grid-template-columns: 1fr;
		}
		&__btn {
			order: 2;
			max-width: 220px;
			margin: 0 auto;
		}
		&__policy {
			width: 180px;
			margin: 0 auto;
			line-height: 18px;
		}
	}
}